<div class="card jh-card">
    <h2 id="page-heading">
        <span jhiTranslate="ngzorroApp.atividade.home.title">Atividades</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-atividade" [routerLink]="['/atividade/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="ngzorroApp.atividade.home.createLabel">
            Create a new Atividade
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="atividades?.length === 0">
        <span jhiTranslate="ngzorroApp.atividade.home.notFound">No atividades found</span>
    </div>
    <div class="table-responsive" *ngIf="atividades?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="titulo"><span jhiTranslate="ngzorroApp.atividade.titulo">Titulo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="inicio"><span jhiTranslate="ngzorroApp.atividade.inicio">Inicio</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="termino"><span jhiTranslate="ngzorroApp.atividade.termino">Termino</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="observacao"><span jhiTranslate="ngzorroApp.atividade.observacao">Observacao</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="realizado"><span jhiTranslate="ngzorroApp.atividade.realizado">Realizado</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="atendimentoId"><span jhiTranslate="ngzorroApp.atividade.atendimento">Atendimento</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let atividade of atividades ;trackBy: trackId">
                <td><a [routerLink]="['/atividade', atividade.id, 'view' ]">{{atividade.id}}</a></td>
                <td>{{atividade.titulo}}</td>
                <td>{{atividade.inicio | date:'medium'}}</td>
                <td>{{atividade.termino | date:'medium'}}</td>
                <td>{{atividade.observacao}}</td>
                <td>{{atividade.realizado}}</td>
                <td>
                    <div *ngIf="atividade.atendimentoId">
                        <a [routerLink]="['/atendimento', atividade.atendimentoId , 'view' ]" >{{atividade.atendimentoId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/atividade', atividade.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/atividade', atividade.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(atividade)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="atividades?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
