<div class="card jh-card">
    <div class="row justify-content-center">
        <div class="col-8">
            <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
                <h2 id="jhi-animal-cio-heading" jhiTranslate="ngzorroApp.animalCio.home.createOrEditLabel">Create or edit a Animal Cio</h2>
                <div class="row">
                    <jhi-alert-error></jhi-alert-error>
                    <div class="form-group col-md-12" [hidden]="!editForm.get('id').value">
                        <label for="id" jhiTranslate="global.field.id">ID</label>
                        <input type="text" class="form-control" id="id" name="id" formControlName="id"
                            readonly />
                    </div>
                    <div class="form-group col-md-6">
                        <label class="form-control-label" jhiTranslate="ngzorroApp.animalCio.dataDoCio" for="field_dataDoCio">Data Do Cio</label>
                        <div class="input-group col-md-6">
                            <input id="field_dataDoCio" type="text" class="form-control" name="dataDoCio" ngbDatepicker  #dataDoCioDp="ngbDatepicker" formControlName="dataDoCio"/>
                            <span class="input-group-append">
                                <button type="button" class="btn btn-secondary" (click)="dataDoCioDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                            </span>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="form-control-label" jhiTranslate="ngzorroApp.animalCio.observacao" for="field_observacao">Observacao</label>
                        <textarea class="form-control" name="observacao" id="field_observacao"
                                  formControlName="observacao"></textarea>
                    </div>
    
                    <div class="form-group col-md-6">
                        <label class="form-control-label" jhiTranslate="ngzorroApp.animalCio.animal" for="field_animal">Animal</label>
                        <select class="form-control" id="field_animal" name="animal" formControlName="animalId">
                            <option [ngValue]="null"></option>
                            <option [ngValue]="animalOption.id" *ngFor="let animalOption of animals; trackBy: trackById">{{animalOption.id}}</option>
                        </select>
                    </div>
                </div>
                <div>
                    <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                        <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                    </button>
                    <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                        <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

