<div class="card jh-card">
    <h2 id="page-heading">
        <span jhiTranslate="ngzorroApp.titulo.home.title">Titulos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-titulo" [routerLink]="['/titulo/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="ngzorroApp.titulo.home.createLabel">
            Create a new Titulo
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="titulos?.length === 0">
        <span jhiTranslate="ngzorroApp.titulo.home.notFound">No titulos found</span>
    </div>
    <div class="table-responsive" *ngIf="titulos?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="isPago"><span jhiTranslate="ngzorroApp.titulo.isPago">Is Pago</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="tipo"><span jhiTranslate="ngzorroApp.titulo.tipo">Tipo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="descricao"><span jhiTranslate="ngzorroApp.titulo.descricao">Descricao</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="valor"><span jhiTranslate="ngzorroApp.titulo.valor">Valor</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="dataEmissao"><span jhiTranslate="ngzorroApp.titulo.dataEmissao">Data Emissao</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="dataPagamento"><span jhiTranslate="ngzorroApp.titulo.dataPagamento">Data Pagamento</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="dataVencimento"><span jhiTranslate="ngzorroApp.titulo.dataVencimento">Data Vencimento</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="tutorId"><span jhiTranslate="ngzorroApp.titulo.tutor">Tutor</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="fornecedorId"><span jhiTranslate="ngzorroApp.titulo.fornecedor">Fornecedor</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let titulo of titulos ;trackBy: trackId">
                <td><a [routerLink]="['/titulo', titulo.id, 'view' ]">{{titulo.id}}</a></td>
                <td>{{titulo.isPago}}</td>
                <td jhiTranslate="{{'ngzorroApp.TipoTitulo.' + titulo.tipo}}">{{titulo.tipo}}</td>
                <td>{{titulo.descricao}}</td>
                <td>{{titulo.valor}}</td>
                <td>{{titulo.dataEmissao | date:'mediumDate'}}</td>
                <td>{{titulo.dataPagamento | date:'mediumDate'}}</td>
                <td>{{titulo.dataVencimento | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="titulo.tutorId">
                        <a [routerLink]="['/tutor', titulo.tutorId , 'view' ]" >{{titulo.tutorId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="titulo.fornecedorId">
                        <a [routerLink]="['/fornecedor', titulo.fornecedorId , 'view' ]" >{{titulo.fornecedorId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/titulo', titulo.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/titulo', titulo.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(titulo)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="titulos?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
