<div class="card jh-card">
    <h2 id="page-heading">
        <span jhiTranslate="ngzorroApp.tutor.home.title">Tutors</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-tutor" [routerLink]="['/tutor/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="ngzorroApp.tutor.home.createLabel">
            Create a new Tutor
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="tutors?.length === 0">
        <span jhiTranslate="ngzorroApp.tutor.home.notFound">No tutors found</span>
    </div>
    <div class="table-responsive" *ngIf="tutors?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="nome"><span jhiTranslate="ngzorroApp.tutor.nome">Nome</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="sobrenome"><span jhiTranslate="ngzorroApp.tutor.sobrenome">Sobrenome</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="telefone1"><span jhiTranslate="ngzorroApp.tutor.telefone1">Telefone 1</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="telefone2"><span jhiTranslate="ngzorroApp.tutor.telefone2">Telefone 2</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="email"><span jhiTranslate="ngzorroApp.tutor.email">Email</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="foto"><span jhiTranslate="ngzorroApp.tutor.foto">Foto</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="fotoUrl"><span jhiTranslate="ngzorroApp.tutor.fotoUrl">Foto Url</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="cpf"><span jhiTranslate="ngzorroApp.tutor.cpf">Cpf</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="sexo"><span jhiTranslate="ngzorroApp.tutor.sexo">Sexo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="dataCadastro"><span jhiTranslate="ngzorroApp.tutor.dataCadastro">Data Cadastro</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="userFirstName"><span jhiTranslate="ngzorroApp.tutor.user">User</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="enderecoLogradouro"><span jhiTranslate="ngzorroApp.tutor.endereco">Endereco</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let tutor of tutors ;trackBy: trackId">
                <td><a [routerLink]="['/tutor', tutor.id, 'view' ]">{{tutor.id}}</a></td>
                <td>{{tutor.nome}}</td>
                <td>{{tutor.sobrenome}}</td>
                <td>{{tutor.telefone1}}</td>
                <td>{{tutor.telefone2}}</td>
                <td>{{tutor.email}}</td>
                <td>
                    <a *ngIf="tutor.foto" (click)="openFile(tutor.fotoContentType, tutor.foto)">
                        <img [src]="'data:' + tutor.fotoContentType + ';base64,' + tutor.foto" style="max-height: 30px;" alt="tutor image"/>
                    </a>
                    <span *ngIf="tutor.foto">{{tutor.fotoContentType}}, {{byteSize(tutor.foto)}}</span>
                </td>
                <td>{{tutor.fotoUrl}}</td>
                <td>{{tutor.cpf}}</td>
                <td jhiTranslate="{{'ngzorroApp.Sexo.' + tutor.sexo}}">{{tutor.sexo}}</td>
                <td>{{tutor.dataCadastro | date:'mediumDate'}}</td>
                <td>
                    {{tutor.userFirstName}}
                </td>
                <td>
                    <div *ngIf="tutor.enderecoId">
                        <a [routerLink]="['/endereco', tutor.enderecoId , 'view' ]" >{{tutor.enderecoLogradouro}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/tutor', tutor.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/tutor', tutor.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(tutor)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="tutors?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
