<div class="card jh-card">
    <h2 id="page-heading">
        <span jhiTranslate="ngzorroApp.animalObservacao.home.title">Animal Observacaos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-animal-observacao" [routerLink]="['/animal-observacao/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="ngzorroApp.animalObservacao.home.createLabel">
            Create a new Animal Observacao
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="animalObservacaos?.length === 0">
        <span jhiTranslate="ngzorroApp.animalObservacao.home.notFound">No animalObservacaos found</span>
    </div>
    <div class="table-responsive" *ngIf="animalObservacaos?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="dataAlteracao"><span jhiTranslate="ngzorroApp.animalObservacao.dataAlteracao">Data Alteracao</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="observacao"><span jhiTranslate="ngzorroApp.animalObservacao.observacao">Observacao</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="animalId"><span jhiTranslate="ngzorroApp.animalObservacao.animal">Animal</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let animalObservacao of animalObservacaos ;trackBy: trackId">
                <td><a [routerLink]="['/animal-observacao', animalObservacao.id, 'view' ]">{{animalObservacao.id}}</a></td>
                <td>{{animalObservacao.dataAlteracao | date:'mediumDate'}}</td>
                <td>{{animalObservacao.observacao}}</td>
                <td>
                    <div *ngIf="animalObservacao.animalId">
                        <a [routerLink]="['/animal', animalObservacao.animalId , 'view' ]" >{{animalObservacao.animalId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/animal-observacao', animalObservacao.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/animal-observacao', animalObservacao.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(animalObservacao)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="animalObservacaos?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
