<div class="card jh-card">
    <div class="row justify-content-center">
        <div class="col-8">
            <div *ngIf="animalObservacao">
                <h2><span jhiTranslate="ngzorroApp.animalObservacao.detail.title">Animal Observacao</span> {{animalObservacao.id}}</h2>
                <hr>
                <jhi-alert-error></jhi-alert-error>
                <dl class="row jh-entity-details">
                    <div class="col-md-4">
                        <dt><span jhiTranslate="ngzorroApp.animalObservacao.dataAlteracao">Data Alteracao</span></dt>
                        <dd>
                            <span>{{animalObservacao.dataAlteracao}}</span>
                        </dd>
                    </div>
                    <div class="col-md-4">
                        <dt><span jhiTranslate="ngzorroApp.animalObservacao.observacao">Observacao</span></dt>
                        <dd>
                            <span>{{animalObservacao.observacao}}</span>
                        </dd>
                    </div>
                    <div class="col-md-4">
                        <dt><span jhiTranslate="ngzorroApp.animalObservacao.animal">Animal</span></dt>
                        <dd>
                            <div *ngIf="animalObservacao.animalId">
                                <a [routerLink]="['/animal', animalObservacao.animalId, 'view']">{{animalObservacao.animalId}}</a>
                            </div>
                        </dd>
                    </div>
                </dl>
    
                <button type="submit"
                        (click)="previousState()"
                        class="btn btn-info">
                    <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
                </button>
    
                <button type="button"
                        [routerLink]="['/animal-observacao', animalObservacao.id, 'edit']"
                        class="btn btn-primary">
                    <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
                </button>
            </div>
        </div>
    </div>
</div>

