<div class="card jh-card">
    <div class="row justify-content-center">
        <div class="col-8">
            <div *ngIf="animalVacina">
                <h2><span jhiTranslate="ngzorroApp.animalVacina.detail.title">Animal Vacina</span> {{animalVacina.id}}</h2>
                <hr>
                <jhi-alert-error></jhi-alert-error>
                <dl class="row jh-entity-details">
                    <div class="col-md-4">
                        <dt><span jhiTranslate="ngzorroApp.animalVacina.dataDaAplicacao">Data Da Aplicacao</span></dt>
                        <dd>
                            <span>{{animalVacina.dataDaAplicacao}}</span>
                        </dd>
                    </div>
                    <div class="col-md-4">
                        <dt><span jhiTranslate="ngzorroApp.animalVacina.animalTipoDeVacina">Animal Tipo De Vacina</span></dt>
                        <dd>
                            <div *ngIf="animalVacina.animalTipoDeVacinaId">
                                <a [routerLink]="['/animal-tipo-de-vacina', animalVacina.animalTipoDeVacinaId, 'view']">{{animalVacina.animalTipoDeVacinaDescricao}}</a>
                            </div>
                        </dd>
                    </div>
                    <div class="col-md-4">
                        <dt><span jhiTranslate="ngzorroApp.animalVacina.animal">Animal</span></dt>
                        <dd>
                            <div *ngIf="animalVacina.animalId">
                                <a [routerLink]="['/animal', animalVacina.animalId, 'view']">{{animalVacina.animalId}}</a>
                            </div>
                        </dd>
                    </div>
                </dl>
    
                <button type="submit"
                        (click)="previousState()"
                        class="btn btn-info">
                    <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
                </button>
    
                <button type="button"
                        [routerLink]="['/animal-vacina', animalVacina.id, 'edit']"
                        class="btn btn-primary">
                    <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
                </button>
            </div>
        </div>
    </div>
</div>

