<div class="card jh-card">
    <div class="row justify-content-center">
        <div class="col-8">
            <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
                <h2 id="jhi-movimentacao-de-estoque-heading" jhiTranslate="ngzorroApp.movimentacaoDeEstoque.home.createOrEditLabel">Create or edit a Movimentacao De Estoque</h2>
                <div class="row">
                    <jhi-alert-error></jhi-alert-error>
                    <div class="form-group col-md-12" [hidden]="!editForm.get('id').value">
                        <label for="id" jhiTranslate="global.field.id">ID</label>
                        <input type="text" class="form-control" id="id" name="id" formControlName="id"
                            readonly />
                    </div>
                    <div class="form-group col-md-6">
                        <label class="form-control-label" jhiTranslate="ngzorroApp.movimentacaoDeEstoque.tipo" for="field_tipo">Tipo</label>
                        <select class="form-control" name="tipo" formControlName="tipo" id="field_tipo">
                            <option value="ENTRADA">{{'ngzorroApp.TipoMovimentacaoDeEstoque.ENTRADA' | translate}}</option>
                            <option value="SAIDA">{{'ngzorroApp.TipoMovimentacaoDeEstoque.SAIDA' | translate}}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="form-control-label" jhiTranslate="ngzorroApp.movimentacaoDeEstoque.descricao" for="field_descricao">Descricao</label>
                        <textarea class="form-control" name="descricao" id="field_descricao"
                                  formControlName="descricao"></textarea>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="form-control-label" jhiTranslate="ngzorroApp.movimentacaoDeEstoque.data" for="field_data">Data</label>
                        <div class="d-flex">
                            <input id="field_data" type="datetime-local" class="form-control" name="data" formControlName="data" placeholder="YYYY-MM-DD HH:mm"/>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="form-control-label" jhiTranslate="ngzorroApp.movimentacaoDeEstoque.quantidade" for="field_quantidade">Quantidade</label>
                        <input type="number" class="form-control" name="quantidade" id="field_quantidade"
                               formControlName="quantidade"/>
                    </div>
    
                    <div class="form-group col-md-6">
                        <label class="form-control-label" jhiTranslate="ngzorroApp.movimentacaoDeEstoque.consumo" for="field_consumo">Consumo</label>
                        <select class="form-control" id="field_consumo" name="consumo" formControlName="consumoId">
                            <option [ngValue]="null"></option>
                            <option [ngValue]="consumoOption.id" *ngFor="let consumoOption of consumos; trackBy: trackById">{{consumoOption.id}}</option>
                        </select>
                    </div>
                </div>
                <div>
                    <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                        <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                    </button>
                    <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                        <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

