<div class="card jh-card">
    <h2 id="page-heading">
        <span jhiTranslate="ngzorroApp.vendaConsumo.home.title">Venda Consumos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-venda-consumo" [routerLink]="['/venda-consumo/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="ngzorroApp.vendaConsumo.home.createLabel">
            Create a new Venda Consumo
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="vendaConsumos?.length === 0">
        <span jhiTranslate="ngzorroApp.vendaConsumo.home.notFound">No vendaConsumos found</span>
    </div>
    <div class="table-responsive" *ngIf="vendaConsumos?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="quantidade"><span jhiTranslate="ngzorroApp.vendaConsumo.quantidade">Quantidade</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="valorUnitario"><span jhiTranslate="ngzorroApp.vendaConsumo.valorUnitario">Valor Unitario</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="valorTotal"><span jhiTranslate="ngzorroApp.vendaConsumo.valorTotal">Valor Total</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="vendaId"><span jhiTranslate="ngzorroApp.vendaConsumo.venda">Venda</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="consumoId"><span jhiTranslate="ngzorroApp.vendaConsumo.consumo">Consumo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let vendaConsumo of vendaConsumos ;trackBy: trackId">
                <td><a [routerLink]="['/venda-consumo', vendaConsumo.id, 'view' ]">{{vendaConsumo.id}}</a></td>
                <td>{{vendaConsumo.quantidade}}</td>
                <td>{{vendaConsumo.valorUnitario}}</td>
                <td>{{vendaConsumo.valorTotal}}</td>
                <td>
                    <div *ngIf="vendaConsumo.vendaId">
                        <a [routerLink]="['/venda', vendaConsumo.vendaId , 'view' ]" >{{vendaConsumo.vendaId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="vendaConsumo.consumoId">
                        <a [routerLink]="['/consumo', vendaConsumo.consumoId , 'view' ]" >{{vendaConsumo.consumoId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/venda-consumo', vendaConsumo.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/venda-consumo', vendaConsumo.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(vendaConsumo)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="vendaConsumos?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
