<div class="card jh-card">
    <h2 id="page-heading">
        <span jhiTranslate="ngzorroApp.animalCarrapaticida.home.title">Animal Carrapaticidas</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-animal-carrapaticida" [routerLink]="['/animal-carrapaticida/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="ngzorroApp.animalCarrapaticida.home.createLabel">
            Create a new Animal Carrapaticida
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="animalCarrapaticidas?.length === 0">
        <span jhiTranslate="ngzorroApp.animalCarrapaticida.home.notFound">No animalCarrapaticidas found</span>
    </div>
    <div class="table-responsive" *ngIf="animalCarrapaticidas?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="nome"><span jhiTranslate="ngzorroApp.animalCarrapaticida.nome">Nome</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="dataAplicacao"><span jhiTranslate="ngzorroApp.animalCarrapaticida.dataAplicacao">Data Aplicacao</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="animalId"><span jhiTranslate="ngzorroApp.animalCarrapaticida.animal">Animal</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let animalCarrapaticida of animalCarrapaticidas ;trackBy: trackId">
                <td><a [routerLink]="['/animal-carrapaticida', animalCarrapaticida.id, 'view' ]">{{animalCarrapaticida.id}}</a></td>
                <td>{{animalCarrapaticida.nome}}</td>
                <td>{{animalCarrapaticida.dataAplicacao | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="animalCarrapaticida.animalId">
                        <a [routerLink]="['/animal', animalCarrapaticida.animalId , 'view' ]" >{{animalCarrapaticida.animalId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/animal-carrapaticida', animalCarrapaticida.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/animal-carrapaticida', animalCarrapaticida.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(animalCarrapaticida)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="animalCarrapaticidas?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
