<div class="card jh-card">
    <h2 id="page-heading">
        <span jhiTranslate="ngzorroApp.atendimento.home.title">Atendimentos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-atendimento" [routerLink]="['/atendimento/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="ngzorroApp.atendimento.home.createLabel">
            Create a new Atendimento
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="atendimentos?.length === 0">
        <span jhiTranslate="ngzorroApp.atendimento.home.notFound">No atendimentos found</span>
    </div>
    <div class="table-responsive" *ngIf="atendimentos?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="situacao"><span jhiTranslate="ngzorroApp.atendimento.situacao">Situacao</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="dataDeChegada"><span jhiTranslate="ngzorroApp.atendimento.dataDeChegada">Data De Chegada</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="dataDeSaida"><span jhiTranslate="ngzorroApp.atendimento.dataDeSaida">Data De Saida</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="observacao"><span jhiTranslate="ngzorroApp.atendimento.observacao">Observacao</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="animalId"><span jhiTranslate="ngzorroApp.atendimento.animal">Animal</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let atendimento of atendimentos ;trackBy: trackId">
                <td><a [routerLink]="['/atendimento', atendimento.id, 'view' ]">{{atendimento.id}}</a></td>
                <td jhiTranslate="{{'ngzorroApp.AtendimentoSituacao.' + atendimento.situacao}}">{{atendimento.situacao}}</td>
                <td>{{atendimento.dataDeChegada | date:'medium'}}</td>
                <td>{{atendimento.dataDeSaida | date:'medium'}}</td>
                <td>{{atendimento.observacao}}</td>
                <td>
                    <div *ngIf="atendimento.animalId">
                        <a [routerLink]="['/animal', atendimento.animalId , 'view' ]" >{{atendimento.animalId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/atendimento', atendimento.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/atendimento', atendimento.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(atendimento)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="atendimentos?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
