<div class="card jh-card">
    <div class="row justify-content-center">
        <div class="col-8">
            <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
                <h2 id="jhi-venda-heading" jhiTranslate="ngzorroApp.venda.home.createOrEditLabel">Create or edit a Venda</h2>
                <div class="row">
                    <jhi-alert-error></jhi-alert-error>
                    <div class="form-group col-md-12" [hidden]="!editForm.get('id').value">
                        <label for="id" jhiTranslate="global.field.id">ID</label>
                        <input type="text" class="form-control" id="id" name="id" formControlName="id"
                            readonly />
                    </div>
                    <div class="form-group col-md-6">
                        <label class="form-control-label" jhiTranslate="ngzorroApp.venda.observacao" for="field_observacao">Observacao</label>
                        <textarea class="form-control" name="observacao" id="field_observacao"
                                  formControlName="observacao"></textarea>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="form-control-label" jhiTranslate="ngzorroApp.venda.dataDaCompra" for="field_dataDaCompra">Data Da Compra</label>
                        <div class="d-flex">
                            <input id="field_dataDaCompra" type="datetime-local" class="form-control" name="dataDaCompra" formControlName="dataDaCompra" placeholder="YYYY-MM-DD HH:mm"/>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="form-control-label" jhiTranslate="ngzorroApp.venda.dataDoPagamento" for="field_dataDoPagamento">Data Do Pagamento</label>
                        <div class="d-flex">
                            <input id="field_dataDoPagamento" type="datetime-local" class="form-control" name="dataDoPagamento" formControlName="dataDoPagamento" placeholder="YYYY-MM-DD HH:mm"/>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="form-control-label" jhiTranslate="ngzorroApp.venda.desconto" for="field_desconto">Desconto</label>
                        <input type="number" class="form-control" name="desconto" id="field_desconto"
                               formControlName="desconto"/>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="form-control-label" jhiTranslate="ngzorroApp.venda.situacao" for="field_situacao">Situacao</label>
                        <select class="form-control" name="situacao" formControlName="situacao" id="field_situacao">
                            <option value="PAGO">{{'ngzorroApp.TipoSituacaoDoLancamento.PAGO' | translate}}</option>
                            <option value="PAGAMENTOPENDENTE">{{'ngzorroApp.TipoSituacaoDoLancamento.PAGAMENTOPENDENTE' | translate}}</option>
                            <option value="CANCELADO">{{'ngzorroApp.TipoSituacaoDoLancamento.CANCELADO' | translate}}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="form-control-label" jhiTranslate="ngzorroApp.venda.valorTotal" for="field_valorTotal">Valor Total</label>
                        <input type="number" class="form-control" name="valorTotal" id="field_valorTotal"
                               formControlName="valorTotal"/>
                    </div>
    
                    <div class="form-group col-md-6">
                        <label class="form-control-label" jhiTranslate="ngzorroApp.venda.atendimento" for="field_atendimento">Atendimento</label>
                        <select class="form-control" id="field_atendimento" name="atendimento" formControlName="atendimentoId">
                            <option [ngValue]="null"></option>
                            <option [ngValue]="atendimentoOption.id" *ngFor="let atendimentoOption of atendimentos; trackBy: trackById">{{atendimentoOption.id}}</option>
                        </select>
                    </div>
                </div>
                <div>
                    <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                        <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                    </button>
                    <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                        <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

